<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
   
</head>
<body ng-app="myapp">
<div ng-controller="TabController">
    <section ng-init="tab=1"><!--For showing tab 1 as default tab-->
        <ul class="nav nav-pills">
            <li ng-class="{active:tab===1}">
                <a href="" ng-click="tab=1">Description</a>
            </li>
            <li ng-class="{active:tab===2}">
                <a href="" ng-click="tab=2">Specification</a>
            </li>
            <li ng-class="{active:tab===3}">
                <a href="" ng-click="tab=3">Reviews</a>
            </li>
        </ul>
        {{tab}}
        <div class="panel" ng-show="tab===1">
            <h4>Description</h4>
            <p>This is description for the product.</p>
        </div>
        <div class="panel" ng-show="tab===2">
            <h4>Specification</h4>
            <blockquote>This is Specification for the product.</blockquote>
        </div>
        <div class="panel" ng-show="tab===3">
            <h4>Reviews</h4>
            <blockquote>This is Reviews for the product.</blockquote>
        </div>
    </section>
</div>

<!--Using Tab with controller-->
<div ng-controller="TabController as tabCon">
    <section ng-init="tabCon.tab">
        <!--For showing tab 1 as default tab-->
        <ul class="nav nav-pills">
            <li ng-class="{active:tabCon.isSelected(1)}">
                <a href="" ng-click="tabCon.selectedTab(1)">Description</a>
            </li>
            <li ng-class="{active:tabCon.isSelected(2)}">
                <a href="" ng-click="tabCon.selectedTab(2)">Specification</a>
            </li>
            <li ng-class="{active:tabCon.isSelected(3)}">
                <a href="" ng-click="tabCon.selectedTab(3)">Reviews</a>
            </li>
        </ul>
        {{tabCon.tab}}
        <div class="panel" ng-show="tabCon.isSelected(1)">
            <h4>Description</h4>
            <p>This is description for the product.</p>
        </div>
        <div class="panel" ng-show="tabCon.isSelected(2)">
            <h4>Specification</h4>
            <blockquote>This is Specification for the product.</blockquote>
        </div>
        <div class="panel" ng-show="tabCon.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote>This is Reviews for the product.</blockquote>
        </div>
    </section>
</div>    

</body>
</html>
<script src="Scripts/angular.js"></script>

<script src="Scripts/TabUsage.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
